{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-named-as-default": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": 0,
    "global-require": 1,
    "camelcase": "warn",
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
